body{
    margin: 0;
    padding: 0;
}



.banner{
    background-image: url(resources/Banner\ Image.png);
    background-position: center;
    border-radius: 10px;
   
    height: 600px;
    background-color: #070211;
    background-repeat: no-repeat;
    margin: 20px auto;

}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newyear{
    font-size: 28px;
    color: white;
    padding-top: 60px;
}

.party{
    font-size: 60px;
    color: white;
    text-align: center;
}
.offsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.off{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.off h1,h3{
    color: red;
}
.welcome{
    background-image: url(/resources/Vectorrr.png);

    background-position: center;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: linear-gradient(to right, black, white); */

    height: 600px;
    margin: 20px auto;
}
.welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.welcome button{
    padding: 4px 8px;
    border-radius: 5px;
    border: 0;
}
.invitation h1 {
    font-size: 64px;
    font-family: merriweather;
    color: white;
}
.invitation P{
    color: white;
}
.join{
   
    height: 482px;
    margin: 20px auto;
    background: linear-gradient(to bottom, #ffb6c1, #ffffff);

}
.joinnow{
    padding: 50px;
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.btnjoin{
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: red;
}
.comingsoon{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
   
    align-items: center;
}
.image-container {
    border: 15px solid rgb(243, 7, 7);
    border-radius: 50%;
}
.image-container img{
    border: 30px solid white;
    border-radius: 50%;
    width: 340px;
}
.holiday-sale-section {
   
    height: 978px;
    margin: 20px auto;
}

.holidaytext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .holiday-image-container {
    width: 1320px;
    height: 800px;
   
} */
.holiday-image-group {
    position: absolute;
} 
.holiday-image-top-group {
    display: flex;
    width: 100vw;
    
}
.holiday-image-group-01 {
    position: relative;
   z-index: 1;
   background-color: transparent;
}
.holiday-image-group-02 {
    position: relative;
    top: 50px;
    z-index: 1;
    margin-left: -70px;
    
}

.holiday-image-group-03 {
    position: relative;
    top: 0;
    left: -183px;
    
}
.holiday-image-group-04 {
    position: relative;
    top: -250px;
    width: 100vw;
}
.holiday-image-group-04 img {
    width: 100vw;
}
.awesome-section {
width: 100%;
margin: -150px auto;
}
.awesomeimgcontainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    
}
.awesomeimgcontainer img{
    margin: 5px;
}

.awesomeimgcontainer img:hover {
    transform: scale(1.1); 
}

.awesomeimg{
    display: flex;

}

.footer{
    width: 100vw;
    height: 609;
    margin: 150px 0 0;
    
    background-color: #070211;
    color: white;
}

.footer div{
    padding: 10px 40px 0 ;
}

.address{
    display: flex;
    justify-content: space-between;
}
.communication p{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.socialIcon{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.socialIcon img{
    margin: 10px;
}

.copyright{
    display: flex;
    justify-content: space-between;
}

.copyright button{
    background-color: black;
    padding: 5px;
    color: white;
    
}